.calendar-div{
    position: relative;
    left: -6vw;
    width: 90vw;
    border: 1px solid rgb(58, 54, 54);
    
    background-color: rgb(129, 125, 120);
}

.calendar{
    position: relative;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    grid-gap: 1px;
    
    /* border: 3px solid rgb(5, 206, 65); */
}

.day-calendar{
    position: relative;
    top: 0;
    left: 0%;
    min-height: 40px;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    background-color: azure;
}

.calendar-week-days{
    height: 5vh !important;
    padding-left: 40px;
    color: white;
    background-color: #2a2820;
    font-size: 1.1rem;

}

@media(max-width: 850px){
    .calendar-week-days{
        height: 2vh !important;
        font-size: 0.3rem;
        padding-left: 6px;

    }
}

.top-row-cell{
    display: flex;
    margin: 7px;
    /* justify-content: flex-end; */
}

.day-wrapper{
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width: 850px){
    .day-wrapper{
        height: 20px;
        width: 20px;
    }
}

.calendar-select-div{
    display: flex;
    justify-content: space-between;
    background-color: #aae9e9;
    padding: 16px;
}

.calendar-select-buttons-wrapper{
    display: flex;
    align-items: center;
    outline: unset;
    cursor: pointer;
}

.text-bold{
    font-weight: bold;
}

.calendar-select-texts{
    font-size: 2.5rem;
    margin-left: 24px;
}

@media(max-width: 850px){
    .calendar-select-texts{
        font-size: 1.5rem;
        margin-left: 12px;
    }
}

@media(max-width: 650px){
    .calendar-select-texts{
        font-size: 0.9rem;
        margin-left: 6px;
    }
}

.calendar-select-button{
    border: unset;
    background-color: #565759;
    height: 28px;
    margin-right: 2px;
    padding: 7px;
    border-radius: 4px;
    color: #e6e6e6;
    text-align: center;
    padding-bottom: 5px;
}

@media(max-width: 850px){
    .calendar-select-button{
        font-size: 0.5rem;
        height: 14px;
        padding: 3px
    }
}

.today{
    padding-right: 14px;
    padding-left: 14px;
    font-weight: bold;
}

.calendar-select-header{
    background-color: #2a2820;
    height: 40px;
    color: thistle;
    display: flex;
}

.calendar-header-content{
    display: flex;
    margin-left: 10px;
    margin-top: 6px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: bisque;
    justify-content: center;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width: 850px){
    .calendar-header-content{
        font-size: 0.7rem;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 3px;
    }
}

.calendar-header-active{
    color: red !important;
    border: 1px solid red;
}

.calendar-content{
    display: none !important;
}

.content-active{
    display: block !important;
}

.show-day-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.tasks-list-wrapper{
    margin: unset;
    list-style-position: inside;
    padding-left: 4px;
}

.day-tasks-list{
    position: relative;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(238, 171, 171);
}

.task-button{
    position: relative;
    left: 0;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    width: auto;
    /* border: unset; */
    background-color: rgb(248, 169, 169);
    color: #000000;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 2px;
    text-align: center;
    font-size: 0.9rem;
}

.text-green{
    background-color: rgb(4, 148, 148);
}

.task-update-button{
    cursor: pointer;
    font-weight: bold;
}

@media(max-width: 850px){
    .task-button{
        font-size: 0.6rem;
    }
}

.form-position-wrapper{
    position: absolute;
    z-index: 100;
    /* background-color: rgda(0, 0, 0, 0.35); */
    background-color: rgb(255, 255, 255);
    top: 12vh;
    left: 4vw;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.change-color-black{
    top: 10vh;
    position: relative;
    left: 25vw;
    background-color: black;
    width: 100px;
    height: 100px;
}

.change-color-red{
    position: relative;
    top: 10vh;
    left: 25vw;
    background-color: rgb(230, 22, 22);
    width: 100px;
    height: 100px;
}

.delete-task{
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.task-status-done-day-grid{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    background-color: red;
}

@media(max-width: 850px){
    .task-status-done-day-grid{
        height: 15px;
        width: 15px;
    }
}

.task-status-done-week-grid{
    position: relative;
    top: 4px;
    left: 11vw;
    height: 10px;
    width: 10px;
    background-color: red;
}

@media(max-width: 850px){
    .task-status-done-week-grid{
        left: 13vw;
        height: 5px;
        width: 5px;
        margin-bottom: 10px;
    }
}

.task-status-done-month-grid{
    position: relative;
    top: 4px;
    left: 11vw;
    height: 5px;
    width: 5px;
    background-color: red;
    margin-bottom: 5px;
}