* {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
  }
  
  

  

.task-card-description{
    text-align: center; 
}

.text-red{
  background-color: red;
  color: white;
}

.text-green{
  background-color: green;
  color: white;
}

.employee-task-card-content{
  display: inline-flexbox;
}