@import '~antd/dist/antd.css';

/* .main-page-video-div{
  position: fixed;
  top: -10% !important;
  left: -20%;
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
} */


.parallax{
  z-index: 120;
  width: 100vw;
}

.main-page-video-video{
  position: fixed;
  width: 100vw;
  height: 100% !important;
  top: 0%;
  object-fit: cover;
  

}

.main-page-content-div-absolute{
  position: absolute !important;
  top: 60vh !important;
  width: 100vw;
  padding-bottom: 100px;
  /* border: 2px solid yellow; */
}

.main-page-title{
  font-size: 3rem;
  color: aliceblue;
  text-shadow: 4px 2px rgb(7, 11, 17);
  z-index: 100;
}

.main-page-companyInfo{
  position: relative;
  left: 9vw;
  width: 60%;
  margin-top: 25vh;
  padding: 40px;
  color: rgb(15, 15, 26);
  background: rgb(227, 230, 80);
  /* border: 1px solid black; */
}

.main-page-description{
  position: relative;
  left: 40%;
  width: 50vw;
  margin-top: 40vh;
  padding: 40px;
  background: rgb(9, 9, 172);
  color: aliceblue;
  /* border: 2px solid green; */
}


.main-page-contacts{
  position: relative;
  left: 12%;
  width: 40vw;
  margin-top: 40vh;
  padding: 40px;
  background: rgb(26, 202, 41);
  color: rgb(9, 12, 15);
  margin-bottom: 250px;
  /* border: 2px solid green; */
}

.main-page-categories{
  position: relative;
  left: 50%;
  width: 40vw;
  margin-top: 15vh;
  padding: 20px;
  background: rgb(12, 43, 85);
  
  /* border: 2px solid green; */
}
.main-page-categories a{
  color: rgb(237, 241, 221) !important;
}
/* .main-page-video-source{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 150% !important;
  height: auto;
  border: 2px dashed rgb(2, 4, 24);
} */


.main_app_container{
  position: relative;
  top: 0% !important; 
  left: 0%;
  width: 100%;
  /* border: 1px solid red */
}

.main_container{
  position: relative;
  top: 10vh;
  left: 7vw;
  width: 93vw;
  height: 90vh;
  /* border: 1px solid red */
}

.div-header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  transition: 1s ease;
  z-index: 102;
}
.div-header:hover{
  background-color: rgba(33, 57, 121, 0.918);
  transition: 1s ease;
}
.header-custom{
  text-decoration: none;
  width: 100vw !important;
  height: 10vh;
}
.li-custom{
  display: inline;
  text-decoration: none;
  padding-top: 20px !important;
  font-size: 0.9rem;
  transition: 1s ease;
  opacity: 0;
}
.div-header:hover .li-custom{
  opacity: 1;
  transition: 1s ease;
}

.li-login{
  float: right;
  margin-right: 40px;
}
.li-register{
  float: right;
  margin-right: 30px;
}
/* .link{
  text-decoration: none !important;
  color: rgb(62, 16, 190);
} */
.div-header:hover .link{
  color: white !important;
}
   
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #e01822;
  
}

.alert-danger{
  margin: auto;
  margin-top: 20px;
  left: 20%;
  background: #e01822;
  width: 70vw;
  text-align: center;
  color: aliceblue;
  padding-top: 20px;
  position: fixed;
  padding-bottom: 20px;
  z-index: 101;
}

.alert-success{
  margin: auto;
  margin-top: 20px;
  left: 20%;
  background: #02610a;
  width: 70vw;
  text-align: center;
  color: aliceblue;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 101;
  position: fixed;
}

.link-text-color{
  color: black !important;
}

.homePageDiv{
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}
.homePageVideo{
  width: 100vw;
  height: 100vh;
  border: 1px solid green;
}

.delete-custom{
  color: aliceblue;
  cursor: pointer;
}



.custom_navigation_abs{
  position: fixed;
  top: 0%;
  height: 100%;
  width: 5%;
  /* border: 3px solid green; */
  z-index: 100;
}

.custom_navigation_rel{
  position: relative;
  /* border: 1px solid red; */
  height: 100% !important;
  width: 100%;
  /* border: 4px dashed yellow; */
}

.ul_navigation{
  position: absolute;
  top: 25%;
  left: -220px;
  /* border: 2px solid black; */
  width: 200px !important;
  vertical-align: middle !important;
  transition: 1s ease;
  z-index: 10;
}

.li_navigation{
  top: 0px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: rgb(192, 188, 188);
}
/* .li_navigation a{
  color: white !important;
} */

a{
  color: black !important;
}

.main_page_navigation{
  position: relative;
  top: 0%;
  height: 100vh;
  left: -15px !important;
  writing-mode: vertical-lr;
  background-color: rgba(31, 31, 153, 0.918);
  color: aliceblue;
  text-orientation:upright;
  padding-top: 33vh;
  padding-bottom: 42vh;
  padding-left: 20px;
  padding-right: 15px;
  display: inline-block;
  transition: 1s ease;
}

.custom_navigation_abs:hover .ul_navigation{
  transition: 1s ease;
  left: 20px;
}

.custom_navigation_abs:hover .main_page_navigation{
  opacity: 0;
  transition: 1s ease;
}

.div_cover{ 
  position: absolute;
  top: -20%;
  width: 100vw;
  height: 100vh;
  background-color: rgb(122, 118, 118);
  opacity: 0;
  transition: 1s ease;
}

.custom_navigation_abs:hover .div_cover{
  opacity: 1;
}

.video-container {
  position: relative;
  top:20%;
  width: 80%;
  height: auto;
  
}

.category-cart{
  background-color: burlywood;
  margin: 30px;
  padding: 30px;
}

:root {
  --black: rgb(58, 58, 58);
  --grey: rgb(205, 205, 205);
  --white: rgb(240, 240, 240);
  --red: rgb(206, 36, 36);
  --light-blue: rgb(102, 193, 255);
  --font-light: "AirbnbCerealLight", sans-serif;
  --font-book: "AirbnbCerealBook", sans-serif;
  --font-black: "AirbnbCerealBlack", sans-serif;
  color: var(--black);
  font-family: var(--font-light);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  /* font-smoothing: antialiased; */
  -webkit-font-smoothing: antialiased;
}
/* 
@font-face {
  font-family: "AirbnbCerealLight";
  src: url(/fonts/AirbnbCerealLight.woff);
}
@font-face {
  font-family: "AirbnbCerealBook";
  src: url(/fonts/AirbnbCerealBook.woff);
}
@font-face {
  font-family: "AirbnbCerealMedium";
  src: url(/fonts/AirbnbCerealMedium.woff);
}
@font-face {
  font-family: "AirbnbCerealBold";
  src: url(/fonts/AirbnbCerealBold.woff);
}
@font-face {
  font-family: "AirbnbCerealBlack";
  src: url(/fonts/AirbnbCerealBlack.woff);
} */

.calendar{
  border: 1px solid #110e0e;
  border-radius: 5px;
  overflow: hidden;
  background-color: hsl(0, 1%, 30%);
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-left:  20px;
}

@media(max-width: 850px){
  .calendar{
    margin: 10px 20px 10px 20px;
  }
}

@media(max-width: 600px){
  .calendar{
    margin: 10px 30px 10px 30px;
  }
}

.calendar-grid{
  display: grid;
  grid-template-columns:  repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 5px 0px 0px 0px;
  background: rgb(108, 127, 231);
  /* border: 2px solid black; */
  border-radius: 5px;
}


.calender-cell-content{
  justify-content: space-between;
}

.calendar-header{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: aliceblue;
}

.calendar-header-content{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.calendar-header-content-month{
  font-size: 2rem;
  color: aliceblue;
  margin-right: 30px;
}


.calendar-header-content-year{
  font-size: 1.7rem;
  color: aliceblue;
  margin-left: 30px;
}

@media(max-width: 650px){
  .calendar-header-content-month{
    font-size: 1.3rem;
  }
  .calendar-header-content-year{
    font-size: 1rem;
  }
}
.calendar-buttons-div{
  padding-top: 10px;
}

.calendar-header-content-button{
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-current-day{
  position: relative;
  top: 0%;
  left: 0%;
  display: flex;
  border: 2px solid red;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  min-height: 50px;
  border-radius: 5px;
}

@media (max-width: 850px) {
  .calendar-current-day{
    min-width: 60px;
    min-height: 50px;
    margin: 3px;

  }
}

@media (max-width: 580px){
  .calendar-current-day{
    min-width: 30px;
    min-height: 20px;
    margin: 3px;
    
    }
}

.calendar-week-days{
  min-width: 90px;
  height: 20px;
  border: 1px solid red;
  margin: 7px 7px 7px 7px;
  
}
