@import '~antd/dist/antd.css';

/* .main-page-video-div{
  position: fixed;
  top: -10% !important;
  left: -20%;
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
} */

.main-div-content{
  position: relative;
  top: 12vh;
  left: 12vw;
  width: 70vw;
  height: auto;
  margin-bottom: 100px;
  
}

@media(max-width: 750px){
  .main-div-content{
    left: 15vw;
    width: 80vw;
    font-size: 0.9rem;
  }
}

@media(max-width: 440px){
  .main-div-content{
    left: 18vw;
    width: 70vw;
  }
}

.app-text{
  font-size: 1.4rem;
}

@media(max-width: 750px){
  .app-text{
    font-size: 0.9rem;
  }
}

.app-text-medium{
  font-size: 1.2rem;
}

.app-text-large{
  font-size: 1.8rem;
}

@media(max-width: 750px){
  .app-text-large{
    font-size: 1.2rem;
  }
}

@media(max-width: 560px){
  .app-text-large{
    font-size: 1rem;
  }
}

.app-text-small{
  font-size: 0.8rem;
}

@media(max-width: 560px){
  .app-text-small{
    font-size: 0.6rem;
  }
}

.main-div-container{
  position: relative;
  top: 12vh;
  left: 5vw;
  width: 80vw;
  height: auto;
  margin-bottom: 100px;
  border: 1px solid red;
}

.parallax{
  z-index: 120;
  width: 100vw;
}

.main-page-video-video{
  position: fixed;
  width: 100vw;
  height: 100% !important;
  top: 0%;
  object-fit: cover;
  /* border: 2px solid red; */

}

.image-card-content{
  position: relative;
  width: 36.5vw;
  height: auto;
}

@media(max-width: 1000px){
  .image-card-content{
    width: 36vw;
  }
}

@media(max-width: 790px){
  .image-card-content{
    width: 35vw;
  }
}

@media(max-width: 640px){
  .image-card-content{
    width: 34vw;
  }
}

@media(max-width: 525px){
  .image-card-content{
    width: 32vw;
  }
}

@media(max-width: 420px){
  .image-card-content{
    width: 30vw;
  }
}

.main-page-content-div-absolute{
  position: absolute !important;
  top: 60vh !important;
  width: 100vw;
  padding-bottom: 100px;
  /* border: 2px solid yellow; */
}

.main-page-title{
  font-size: 3rem;
  color: aliceblue;
  text-shadow: 4px 2px rgb(7, 11, 17);
  z-index: 100;
}

@media(max-width: 850px){
  .main-page-title{
    text-shadow: 1px 1px rgb(7, 11, 17);
    font-size: 1.2rem;
  }
}

.main-page-companyInfo{
  position: relative;
  left: 9vw;
  width: 60%;
  margin-top: 25vh;
  padding: 40px;
  color: rgb(15, 15, 26);
  background: rgb(219, 227, 243);
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  /* border: 1px solid black; */
}

@media(max-width: 850px){
  .main-page-companyInfo{
    font-size: 1rem;
  }
}

.main-page-description{
  position: relative;
  left: 40%;
  width: 50vw;
  margin-top: 40vh;
  padding: 20px;
  background: rgb(203, 203, 252);
  color: rgb(17, 22, 26);
  font-size: 1.3rem;
  opacity: 0.8;
  font-weight: bold;
  /* border: 2px solid green; */
}

@media(max-width: 850px){
  .main-page-description{
    font-size: 0.8rem;
  }
}

.main-page-contacts{
  position: relative;
  left: 10%;
  width: 40vw;
  margin-top: 40vh;
  padding: 20px;
  background: rgb(203, 203, 252);
  color: rgb(9, 12, 15);
  margin-bottom: 250px;
  font-weight: bold;
  font-size: 1.1rem;
  /* border: 2px solid green; */
}

@media(max-width: 850px){
  .main-page-contacts{
    font-size: 0.7rem;
  }
}

.main-page-categories{
  position: relative;
  left: 50%;
  width: 40vw;
  margin-top: 15vh;
  padding: 20px;
  background: rgb(12, 43, 85);
  color: white;
  /* border: 2px solid green; */
}
.main-page-categories a{
  color: rgb(237, 241, 221) !important;
}

.main-page-detailed-video{
  position: relative;
  left: 20%;
  width: auto;
  margin-top: 55vh;
  padding: 20px;
  background: rgb(11, 43, 87);
  color: white;
}


.main_app_container{
  position: relative;
  top: 0% !important; 
  left: 0%;
  width: 100%;
  /* border: 1px solid red */
}

.main_container{
  position: relative;
  top: 10vh;
  left: 7vw;
  width: 93vw;
  height: 90vh;
  /* border: 1px solid red */
}

.div-header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  transition: 1s ease;
  z-index: 102;
}

@media(max-width: 560px){
  .div-header{
    height: 7vh;
  }
}
.div-header:hover{
  background-color: rgba(33, 57, 121, 0.918);
  transition: 1s ease;
}
.header-custom{
  text-decoration: none;
  width: 100vw !important;
  height: 10vh;
}
.li-custom{
  display: inline;
  text-decoration: none;
  padding-top: 10px !important;
  font-size: 0.9rem;
  transition: 1s ease;
  opacity: 0;
}

@media(max-width: 560px){
  .li-custom{
    font-size: 0.8rem;
  }
}
.div-header:hover .li-custom{
  opacity: 1;
  transition: 1s ease;
}

.li-login{
  float: right;
  margin-right: 40px;
}
.li-register{
  float: right;
  margin-right: 30px;
}

@media(max-width: 560px){
  .li-register{
    margin-right: 10px;
    padding-right: 20px;
  }
  .li-login{
    margin-right: 15px;
  }
}
/* .link{
  text-decoration: none !important;
  color: rgb(62, 16, 190);
} */
.div-header:hover .link{
  color: white !important;
}
   
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #e01822;
  
}

.alert-danger{
  margin: auto;
  margin-top: 20px;
  left: 20%;
  background: #e01822;
  width: 70vw;
  text-align: center;
  color: aliceblue;
  padding-top: 20px;
  position: fixed;
  padding-bottom: 20px;
  z-index: 101;
}

.alert-success{
  margin: auto;
  margin-top: 20px;
  left: 20%;
  background: #02610a;
  width: 70vw;
  text-align: center;
  color: aliceblue;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 101;
  position: fixed;
}

.link-text-color{
  color: black !important;
}

.homePageDiv{
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}
.homePageVideo{
  width: 100vw;
  height: 100vh;
  border: 1px solid green;
}

.delete-custom{
  color: aliceblue;
  cursor: pointer;
}



.custom_navigation_abs{
  position: fixed;
  top: 0%;
  height: 100%;
  width: 5%;
  /* border: 3px solid green; */
  z-index: 100;
}

@media(max-width: 750px){
  .custom_navigation_abs{
    width: 4%;
  }
}

.custom_navigation_rel{
  position: relative;
  /* border: 1px solid red; */
  height: 100% !important;
  width: 100%;
  /* border: 4px dashed yellow; */
}

.ul_navigation{
  position: absolute;
  top: 25%;
  left: -220px;
  /* border: 2px solid red; */
  width: 200px !important;
  vertical-align: middle !important;
  transition: 1s ease;
  z-index: 10;
}

.li_navigation{
  top: 0px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: rgb(192, 188, 188);
}
/* .li_navigation a{
  color: white !important;
} */

a{
  color: black !important;
}

.main_page_navigation{
  position: fixed;
  top: 0%;
  height: 110vh;
  left: -15px !important;
  writing-mode: vertical-lr;
  background-color: rgba(31, 31, 153, 0.918);
  color: aliceblue;
  text-orientation:upright;
  padding-top: 33vh;
  padding-bottom: 42vh;
  padding-left: 20px;
  padding-right: 15px;
  display: inline-block;
  transition: 1s ease;
  width: 4vw;
}

@media(max-width: 1125px){
  .main_page_navigation{
    width: 4vw;
    padding-left: 12px;
  }
}

@media(max-width: 740px){
  .main_page_navigation{
    width: 10vw;
    padding-left: 18px;
  }
}

@media(max-width: 560px){
  .main_page_navigation{
    width: 12vw;
    padding-left: 15px;
  }
}

.custom_navigation_abs:hover .ul_navigation{
  transition: 1s ease;
  left: 20px;
}

.custom_navigation_abs:hover .main_page_navigation{
  opacity: 0;
  transition: 1s ease;
}

.div_cover{ 
  position: absolute;
  top: -20%;
  width: 100vw;
  height: 100vh;
  background-color: rgb(122, 118, 118);
  opacity: 0;
  transition: 1s ease;
}

.custom_navigation_abs:hover .div_cover{
  opacity: 1;
}

.video-container {
  position: relative;
  top:20%;
  width: 80%;
  height: auto;
  
}

.category-cart{
  background-color: burlywood;
  margin: 30px;
  padding: 30px;
}

@media(max-width: 560px){
  .category-cart{
    margin: 5px;
    padding: 5px;
  }
}

.modal-div{
  position: absolute;
  top: 25vh;
  left: 25vw;
  width: 50vw;
  height: 50vh;
  background-color: aqua;
  margin-top: 20px;
}

.business-item{
  cursor: pointer;
  text-align: center;
  background-color: #7ae79b;
}

#dummy{
  color: #1daf49;
}

.main-div-content-calendar{
  position: relative;
  top: 15vh;
  left: 8vw;
  width: 75vw;
}

.main-div-content-absolute{
  position: absolute;
  top: 12vh;
  left: 10vw;
  width: 80vw;
  height: auto;
  margin-bottom: 100px;
  /* border: 1px solid red; */
}

@media(max-width: 1125px){
  .main-div-content-absolute{
    width: 80vw;
  }
}

@media(max-width: 750px){
  .main-div-content-absolute{
    width: 85vw;
  }
}



.scheduler-body{
  position: relative;
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 80vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

@media(max-width: 750px){
  .scheduler-body{
    width: 85vw;
  }
}

.topbarContainer{
  height: 50px;
  width: 100%;
  background-color: rgba(31, 31, 153, 0.918);
  display: flex;
  align-items: center;
  position: sticky;
  
}

.logo{
  font-size: 12px;
  margin-left: 20px;
  color: white
}

.searchbar{
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.searchbarIcon{
  font-size: 20px !important;
  margin-left: 10px;
}

.searchbarInput{
  border: none;
  width: 30%
}

.searchbarInput:focus{
  outline: none;
}

.topbarLeft{
  flex: 3;
  
}


.topbarCenter{
  flex: 5;
  /* background-color: crimson; */
}

.topbarRight{
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  cursor: pointer;
}

.topbarIcons{
  display: flex;

}

.topbarIconItem{
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge{
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topbarImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.homeContainer{
  display: flex;
  width: 100%;
  /* border: 1px solid red; */
}

.upload-div{
  width: 300px;
  height: 240px;
  border: 1px solid lightgray;
  display: flex; 
  align-items: center;
  justify-content: center;
}

@media(max-width: 650px){
  .upload-div{
    width: 37vw;
  }
}

@media(max-width: 441px){
  .upload-div{
    width: 32.5vw;
  }
}

.hidden{
  display: none;
}