.div-navbar{
  width: 100%;
  height: 10vh;
  transition: 1s ease;
}
.div-navbar:hover{
  background-color: rgba(33, 57, 121, 0.918);
  transition: 1s ease;
}
.navbar-custom{
  text-decoration: none;
  width: 100vw !important;
  height: 10vh;
}
.li-custom{
  display: inline;
  text-decoration: none;
  padding-top: 20px !important;
  font-size: 0.9rem;
  transition: 1s ease;
}
.div-navbar:hover .li-custom{
  font-size: 1.1rem;
  transition: 1s ease;
}
.li-main{
  float:left;
  margin-left: 20px;
}
.li-login{
  float: right;
  margin-right: 40px;
}
.li-register{
  float: right;
  margin-right: 30px;
}
/* .link{
  text-decoration: none !important;
  color: rgb(62, 16, 190);
} */
.div-navbar:hover .link{
  color: white !important;
}
   
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #e01822;
  
}

.alert-danger{
  margin: auto;
  margin-top: 20px;
  background: #e01822;
  width: 70vw;
  text-align: center;
  color: aliceblue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.alert-success{
  margin: auto;
  margin-top: 20px;
  background: #02610a;
  width: 70vw;
  text-align: center;
  color: aliceblue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link-text-color{
  color: black !important;
}
